@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body {
  background:#FCFAEE;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-family: 'DM Sans', sans-serif;
  color: black;
  font-weight: 400;
}

.baseColor {
  background:#FCFAEE;
}

.navbar {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 1%;
}

.main {
  padding-left: 10%;
  padding-right: 10%;
}

footer {
  padding-left: 10%;
  padding-right: 10%;
  background:#A0BE00;
  color: #285701
}

.btn-neutral {
  color: #FCFAEE;
  background-color: #285701;
  font-size: 17px;
  font-weight: 500;
  border-radius: 35px;
}

.btn-neutral:hover {
  background-color: #FCFAEE;
  color: #285701;
  border-color: #285701;
  font-weight: 700;
  border-width: medium;
}

.navbar-end {
  width: 95%;
}

.menu-horizontal > li > a {
  background-color: #FCFAEE !important;
}

.content {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(189,195,199,0.6);
  border-radius: 10px;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: x-large;
}

.content-details{
  color: #fff;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

.content-label{
  margin-top: 2%;
  margin-left: 4%;
}

.content-label-header{
  color: #75A801;
  font-size: large;
  font-weight: 600;
}

.content-label-title{
  color: #000000;
  font-size: x-large;
  font-weight: 900;
}

.explore-portfolio{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #285701;
  color: #FCFAEE;
}

.portfolio-box{
  padding-top: 15%;
  padding-bottom: 30%;
  padding-left: 15%;
  padding-right: 15%;
  color: #000000;
  /* border-radius: 20%; */
  border-radius: 6rem;
  font-weight: 700;
  font-size: x-large;
  display: flex;
  text-align: center;
  align-items:center;
  line-height: 1;
}

.portfolio-box img{
  padding-top: 10%;
  display: block;
  max-height:100%;
  max-width:100%;
}

.portfolio-button{
  display: none;
  padding-top: 23%;
  padding-left: 5%;
  position: absolute;
}

.portfolio-box:hover > .portfolio-button{
  display: inline-block;
}

.rubik-bubbles-text{
  font-family: "Rubik Bubbles", sans-serif;
}

.dela-gothic-text{
  font-family: "Dela Gothic One", sans-serif;
}

.about-me-section{
  background-color: #75A801;
  color: #FCFAEE;
}

.about-me-section > div{
  padding-top: 7%;
  padding-bottom: 7%;
  border-width: 1px;
  border-color: #FCFAEE;
}

.about-me-box{
  background-color: #CBC6FD;
  border-radius: 15%;
}

.skills-expertise-section{
  padding-left: 12%;
  padding-right: 13%;
  padding-top: 5%;
  background-color: #FFEDBC;
  color: #000000;
}

.work-footprint-section{
  padding-left: 5%;
  padding-right: 5%;
}

.work-card{
  border-radius: 5%;
  border-width: 2px;
  border-color: #75A801;
}