* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 95%;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #FCFAEE;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  border-color: #75A801;
  border-width: 2px;
}

.dot:hover{
  background-color: #285701;
  border-color: #285701;
}

.active {
  background-color: #75A801;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 5%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #75A801;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* SLIDESHOW */

.slideshow-container-graphic {
    position: relative;
}

/* Next & previous buttons */
.prev-graphic, .next-graphic {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next-graphic {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-graphic:hover, .next-graphic:hover {
    background-color: rgba(117,168,1,0.8);
}

/* Hide the images by default */
.mySlides-goo, .mySlides-ffafFrames, .mySlides-ffafAd, .mySlides-dune, .mySlides-llgAds, .mySlides-timberline {
    display: none;
}

.mySlides-nextgen, .mySlides-sequel, .mySlides-llg, .mySlides-srl {
    display: none;
}